/* Global Style
----------------------*/
* {
  box-sizing: border-box;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  text-decoration: none;
}

.width {
  margin: auto 0 auto 100px;
}

h2 {
  font-family: lobster, monospace;
  font-size: 2.5rem;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px #000000;
  text-transform: uppercase;
}

em {
  color: rgb(211, 58, 58);
  font-size: 0.8rem;
}
/* Intro
---------------------------------*/

#cover {
  display: flex;
  background-image: url("https://mcdn.wallpapersafari.com/medium/33/17/7pVDmk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: ease all 0.5s;
}

#title a {
  color: #ffffff;
  font-family: lobster;
  font-weight: 10;
  font-size: 80px;
  margin-bottom: 10px;
  color: green;
  text-shadow: 2px 2px 5px #ffff;
}

span {
  font-family: lobster;
  color: yellow;
}

#tribute-info {
  text-align: justify;
  font-size: 1.2rem;
  width: 40%;
}

#more-info a {
  margin-top: 10px;
  padding: 10px;
  background: #ef4f4f;
  position: absolute;
  border-radius: 4px;
  transition: 1s;
}

#more-info a:hover {
  color: black;
  background: yellow;
}

/* Photo Gallery Style
------------------------------------*/
#gallery {
  background: yellow;
  display: flex;
  justify-content: space-around;
}

#img-title {
  color: #ee6f4f;
  text-align: center;
}

#img-container {
  display: flex;
}

.box {
  margin: 100px;
}

figcaption {
  font-family: ariel;
  font-size: 1.1rem;
  color: black;
  width: 250px;
  margin: 10px 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

img {
  width: 250px;
  height: 350px;
  padding: 5px;
  margin: 5px 50px;
  border-radius: 15px;
  transition: ease all 0.3s;
}

a img:hover {
  opacity: 0.5;
}

/* Music Section Style
-----------------------------------*/
#music {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

#music-title {
  color: #ffffff;
  margin-bottom: 20px;
}

ul a {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

li {
  padding: 2px;
  font-size: 1.1rem;
}

/* Footer Style
----------------------------*/
footer {
  background: green;
  padding: 20px 0;
  text-align: center;
}

h4 {
  font-family: lobster, helvetica;
  font-weight: 1;
  font-size: 1.2rem;
}

/* Responsive
--------------------------------*/

@media (max-width: 1082px) {
  #cover {
    height: 80vh;
  }

  #title {
    font-size: 60px;
  }

  #tribute-info {
    font-size: 1rem;
    width: 40%;
  }

  #more-info a {
    padding: 8px;
  }

  #music {
    flex-direction: column;
  }

  .box {
    margin: 50px;
  }

  #player {
    margin-bottom: 50px;
  }
}

@media (max-width: 986px) {
  #cover {
    height: 60vh;
  }

  #img-container {
    display: unset;
  }

  .width {
    margin: auto 0 auto 50px;
  }
}

@media (max-width: 750px) {
  #tribute-info {
    width: 50%;
  }
}

@media (max-width: 582px) {
  iframe {
    width: 480px;
    height: 280px;
  }
}

@media (max-width: 504px) {
  h2 {
    font-size: 1.5rem;
  }

  #cover {
    background: #000000;
  }

  .width {
    margin: auto;
  }

  #tribute-info {
    display: none;
  }

  #more-info {
    display: none;
  }

  iframe {
    width: 340px;
    height: 200px;
  }
}

@media (max-width: 379px) {
  iframe {
    width: 240px;
    height: 180px;
  }
}
